PUBLIC_SERVER_PORT=1323

DB_ADAPTER=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5437
POSTGRES_DB=taskflow
POSTGRES_USER=taskflow
POSTGRES_PASSWORD=taskflow
POSTGRES_SSLMODE=disable

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=taskflow
REDIS_DB=0

KAFKA_HOST=localhost
KAFKA_PORT=9094
KAFKA_TOPIC=taskflow.analytics
KAFKA_ANALYTICS_GROUP_ID=taskflow-analytics

JWT_SECRET=taskflow-dev-secret
JWT_EXPIRATION_HOURS=24
